<div style="background-color:white;border-top:2px solid #12ADDB;box-shadow:0 1px 3px #AAAAAA;line-height:180%;padding:0 15px 12px;width:500px;margin:50px auto;color:#555555;font-family:'Century Gothic','Trebuchet MS','Hiragino Sans GB',微软雅黑,'Microsoft Yahei',Tahoma,Helvetica,Arial,'SimSun',sans-serif;font-size:12px;">
    <h2 style="border-bottom:1px solid #DDD;font-size:14px;font-weight:normal;padding:13px 0 10px 8px;">
        <span style="color: #12ADDB;font-weight:bold;">
            「<%=siteName%>」上有一条新评论，内容如下：
        </span>
    </h2>
        <div style="padding:0 12px 0 12px; margin-top:18px;">
            <p>
                <strong><%=name%></strong>&nbsp;回复说：
            </p>
            <div style="background-color: #f5f5f5;padding: 10px 15px;margin:18px 0;word-wrap:break-word;">
                <%-text%>
            </div>
            <p>
                <a style="text-decoration:none; color:#12addb" href="<%=url%>#comments" target="_blank">点击前往查看
                </a>
            </p>
    </div>
</div>